/* Color Codes
blue: #60BAC9;
yellow: #c99860;
red: #c96460; */

/* container div */
#container {
  height: auto;
  width: auto;
  background-color: white;
}

/* header styles */
h1 {
  font-family: 'Quicksand', verdana, sans-serif;
}

h2 {
  font-family: 'Quicksand', verdana,  sans-serif;
}

/* nav styles */
nav {
  font-family: 'Quicksand', verdana, sans-serif;
  justify-content: center;
  margin-left: 180px;
  margin-right: 180px;
}

nav ul li a{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

nav ul li {
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  display: block;
  border: 1px solid;
  border-radius: .2em;
  padding: .5em 1em;
  margin: .5em;
}

nav ul li a:link, nav ul li a:visited {
  list-style-type: none;
  text-decoration: none;
  color: #c99860;
}

nav ul li a:hover {
  color: #60BAC9;
}
